.flashing-bg {
  animation: flash-bg 1s infinite;
}

@keyframes flash-bg {
  0% {
    background-color: #fa5c5c;
  }
  10% {
    background-color: #fff;
  }
  20% {
    background-color: #fa5c5c;
  }
  30% {
    background-color: #fff;
  }
}
